{% load staticfiles %}
<html>
    <head>
        <title>The Ace Family Fan Club</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Sevillana" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">The Ace Family Fan Club</a></h1>
        </div>
        <div><img src="https://i.pinimg.com/originals/29/1e/2a/291e2a540fa0a9856a101fd1ec4b0a9b.jpg"style="width:500px;height:700px;"> </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                            <a href="{{ post.link }}">Click here to watch a video.</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
